@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="~/Content/hover.css" rel="stylesheet" media="all">
</head>

<body>
    <h1>Music-Movie</h1>
    <br>
    <br>
   
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <h3 id="alegre">Alegre</h3>
            </div>

            <div class="col-md-6 col-xs-6">
                <h3 id="apasionado">Apasionado</h3>
            </div>
        </div>


        <ul class="menu">
            <li class="hvr-glow hvr-glow:hover hvr-glow:focus hvr-glow:active"></li>
            <li class="hvr-glow hvr-glow:hover hvr-glow:focus hvr-glow:active"></li>
            <li class="hvr-glow hvr-glow:hover hvr-glow:focus hvr-glow:active"></li>
            <li class="hvr-glow hvr-glow:hover hvr-glow:focus hvr-glow:active"></li>
        </ul>


        <div class="row">

            <div class="col-md-6 col-xs-6">
                <h3 id="depresivo">Depresivo</h3>
            </div>

            <div class="col-md-6 col-xs-6">
                <h3 id="tranquilo">Tranquilo</h3>
            </div>
        </div>


    </div>


</body>

</html>